{% extends 'base.html' %}

{% block title %} P&aacute;gina de Inicio {% endblock %}

{% block content %}
<div id="mensaje">
</div>
Usted es un funcionario del area {{ request.user.usuario.rol}}
<h1>P&aacute;gina de Inicio</h1>
<p>Bienvenido a tu p&aacute;gina de inicio!</p>
{% if request.user.usuario.rol == 'recepcion' %}
		<form id="form_cedula">
			{% csrf_token %}
			{{ form }}
			{% if not no_submit %}
                                <!--
				<input type="submit" value="Verificar" />
                        -->
                    <button id="verificar_button" value="Verificar">Verificar</button>
			{% endif %}
		</form>
		<form>
			{% csrf_token %}
			{{ form_uno }}
		</form>
		<form>
			{% csrf_token %}
			{{ form_dos }}
		</form>
                <div id="content_post"></div>

{% if turno == True %}
	<a href='/turno/asignar/{{ usuario.id }}'>Asignar Turno</a>
{% endif %}
{% endif %}
{% if request.user.usuario.rol == 'atencion' and not button%}
	<a href='/turno/tomar/'>Tomar Turno</a>
{% endif %}
{% if tomado %}
	<p>Usted ha tomado el turno {{turno.turno}}</p>
	<a href='/turno/tomar/{{turno.id}}/'>Siguiente Turno</a>
{% endif %}
{% if exception %}
	<p>No hay mas turnos en cola</p>
{% endif %}
<script>
$("#verificar_button").click(function (ev){
    ev.preventDefault();
    var id_c = document.getElementById("id_cedula").value;
    console.log(id_c);
    $.ajax({
        type: 'post',
        url: '/account/cedula/',
        data: $('#form_cedula').serialize(),
        success: function(data){
            console.log("exito");
            $('#mensaje').html("");
        },
        statusCode:{
            201: function(data){
                console.log("error: "+data);
                $('#mensaje').html(data);
            }
        },
    })
})
</script>
{% endblock %}
