<html>
    <head>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <style>
            #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
            #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
            #sortable li span { position: absolute; margin-left: -1.3em; }
        </style>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $( function() {
                $( "#sortable" ).sortable();
                $( "#sortable" ).disableSelection();
            } );
        </script>
    </head>
    <body>
        <ul id="sortable">
        </ul>
    </body>
    <script>
        socket = new WebSocket("ws://" + window.location.host + "/chat/");
        socket.onmessage = function(e) {
            var ul_element = document.getElementById("sortable");
            var li_element = document.createElement("li");
            var t = document.createTextNode(e.data);
            li_element.appendChild(t);
            li_element.className="ui-state-default";
            ul_element.appendChild(li_element);
//            document.body.appendChild(pdiv);
            document.getElementById("p1").innerHTML = e.data;
        }
        socket.onopen = function() {
//            socket.send("[{{user.name}}]:hello world");
        }
        if (socket.readyState == WebSocket.OPEN) socket.onopen();
    </script>
</html>

